@import "variables";
@import "reset";
@import "normalize";
@import "mixins";
@import "sprite";

.wrapper{
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
}